/* navbar.component.css */
.navbar {
  background-color: #7ec4cf;
  padding: 5px;
  max-height: 112px;
}

.navbar-brand img {
  max-height: 280px; 
}

.navbar-nav .nav-item .nav-link {
  color: #8a3bc0;
  margin-right: 10px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; 
  transition: color 0.3s;
}

.navbar-nav .nav-item .nav-link img {
  max-height: 24px; 
  margin-bottom: 5px; 
}

.navbar-nav .nav-item .nav-link:hover {
  color: #f15ba6;
  text-decoration: underline;
}