<div class="container">
    <img src="assets\contact.png">
    <form (ngSubmit)="submitFeedback()">
      <label for="name">Name:</label>
      <input type="text" id="name" [(ngModel)]="name" name="name" required>
      
      <label for="email">Email:</label>
      <input type="email" id="email" [(ngModel)]="email" name="email" required>
      
      <label for="phone">Phone Number:</label>
      <input type="tel" id="phone" [(ngModel)]="phone" name="phone" required>
      
      <label for="feedback">Feedback:</label>
      <textarea id="feedback" [(ngModel)]="feedback" name="feedback" rows="4" required></textarea>
      
      <button type="submit">Submit Feedback</button>
    </form>
  </div>