<div class="introduction">
  <br>
  <h2>Welcome to the Rose Vending!</h2>
  <br>
  <img class="img1" src="assets\homeImg1.png" alt="homeImg">
  <p>Discover the beauty of our roses and unique gift accessories, Your perfect choice for special occasions.</p>
</div>
<div class="image-container">
  <div class="img2">
    <a routerLink="/all-roses"><img src="assets\homeRose.png" alt="homeRose">
      <p>Roses</p>
    </a>
  </div>
  <div class="img3">
    <a routerLink="/AllGiftAccessories"><img src="assets\homeGift.png" alt="homeGift">
      <p>Gift Accessories</p>
    </a>
  </div>
</div>